<header>
  <img src="/icons/ham.png" id="hamburger" alt="" />
  <h1 id="logo">DROID</h1>
  <nav class="main-menu">
    <ul class="list-group">
      <li class="list-group-item">
        <a href="/">HOME</a>
      </li>
      <li class="list-group-item" id="sub1hold">
        USAGE
        <ul class="subs" id="submenu1">
          <li class="list-group-item">
            <a href="/text">Text-to-Speech</a>
          </li>
          <li class="list-group-item">
            <a href="/speech">Speech-to-Text</a>
          </li>
        </ul>
      </li>
      <li class="list-group-item" id="sub2hold">
        COMMON

        <ul class="subs" id="submenu2">
          <li class="list-group-item">GREETINGS</li>
          <li class="list-group-item">QUESTIONS</li>
        </ul>
      </li>
      <li class="list-group-item">
        <a href="/about">DEVELOPER</a>
      </li>
    </ul>
  </nav>
</header>
