<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>

  <body>
    <%- include('./partials/header') %>
    <h1>404 - OOPS</h1>
    <p>This url does not exist please check and try again</p>
  </body>
</html>
