<!DOCTYPE html>
<html lang="en">
  <%- include('./partials/head') %>
  <body>
  <%- include('./partials/header') %>
    <div class="container">
      <div class="contained">
        <section id="slideshow">
          <div class="s1 slides"></div>
          <div class="s2 slides"></div>
          <div class="s3 slides"></div>
        </section>

        <section class="about">
         
          <section>
              <p>
             <h2>About Us </h2>
            <span class="dro">
              DROID </span>
              is a free open source web-application available for use by
              every and any webuser. With great ease of access we offer:
              <ul class="about-list">
                <li class="about-list-item">
                  A text-to-speech synthesis with a variety of languages to
                  choose from
                </li>
                <li class="about-list-item">
                  A voice recognition programme that captures and allows audio
                  to be transformed to text in real time
                </li>
              </ul>
            <h2>Our Misson</h2>
            Our sole aim is to establish a ground base through which the deaf and the dumb can communicate effectively with every other person without the going through the stressfull and ambigious process of learning different sign languages in other to communicate


            <button>View More</button>
          </p>
          </section>
        
        </section>
         <section id="how-to-use">
          <ul id="how">
            <h4>Step 1</h4>
            <li class="how-item">Click USAGE on the nav bar</li>
            <li class="how-item">Make a selection either text-to-speech or speech-to-text</li>
            <h4>Text-to-Speech</h4>
            <li class="how-item">
              Type in your message in the input box 
            </li>
            <li class="how-item">Select Language</li>
            <li class="how-item">Click SPEAK</li>
            <h4>Speech-to-Text</h4>
            <li class="how-item">Click on the mic button</li>
          </ul>
         </section>
      </div>
    </div>

    <script src="/javascript/droid.js"></script>
  </body>
</html>
